.party-card {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.icons:hover {
    box-shadow: 0 44px 74px #cbd5e0, 0 0 24px rgba(27,22,66,.06);
    transition: 0.3s;
    border-radius: 7px;
}
