.navbar {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.menu-btn {
    border: none;
    background: white;
}

.menu-btn:focus-visible {
    border: none !important;
}

.form {
    max-width: 780px;
}

.form-title {
    margin-bottom: 3.5rem;
    color: #D23735;
    font-size: 3.5rem;
}

.field {
    flex: 0;
}

.field-label {
    padding: 10px 10px;
    border-radius: 40px;
    background: #D23735;
    color: white;
    position: absolute;
    top: -55%;
    left: -10%;
    font-weight: bold;
    width: 20%;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.3) 0 6px 6px;
}

.field-input {
    padding: 8px 14px;
    border-radius: 40px;
    background: pink;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.3) 0 6px 6px;
}

.btn-submit {
    background: #D23735;
    color: white;
    padding: 6px 32px;
    font-size: 22px;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    box-shadow: rgba(182, 174, 174, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.05) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    box-sizing: border-box;
}

.pending-title {
    color: white;
    font-size: 1.8em;
}

.pending-content {
    margin-top: 5rem;
}

.pending-content-label {
    position: absolute;
    top: -25%;
    right: 50%;
    padding: 10px;
    border-radius: 40px;
    background: #D23735;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    transform: translate(50%, 0%);
    width: 234px;
}

.pending-content-task {
    border-radius: 40px;
    border: 2px solid #D23735;
    padding: 30px 64px;
    font-size: 30px;
    color: #48545e;
    font-weight: bold;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}


.game-leaders-list {
    border-radius: 40px;
    border: 2px solid #D23735;
    font-size: 24px;
    color: #48545e;
    width: 500px;
    margin: 0 auto;
    max-height: 610px;
    overflow-y: auto;
    padding: 10px 0;
}

.game-leaders-list::-webkit-scrollbar {
    width: 16px;
}

.game-leaders-label {
    background: #D23735;
    padding: 5px;
    color: white;
    border-radius: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.list-item-info {
    position: absolute;
    top: 20%;
    left: 12%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.bubbles {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 16px;
    width: 1250px;
}

.item-other {
    border-radius: 40px;
    padding: 8px 8px 8px 110px;
    background: #ffe1e1;
    text-align: left;
}

.bubble {
    border-radius: 50%;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.bubble:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
}

.bubble:focus {
    box-shadow: 1px 1px 15px 14px rgba(44, 22, 22, 0.72);
}

.success-shadow {
    box-shadow: 1px 1px 15px 14px rgba(8, 241, 148, 0.84);
}

.bubble:nth-child(3) {
    margin-top: 30px;
}

.bubble:nth-child(8) {
    margin-top: -30px;
}

.bubble:nth-child(9) {
    margin-top: -30px;
}

.bubble:nth-child(10) {
    margin-top: -50px;
}

.bubble:nth-child(11) {
    margin-top: -20px;
}

.bubble:nth-child(12) {
    margin-top: -50px;
}

.bubble:nth-child(13) {
    margin-top: -10px;
}

.bubble:nth-child(15) {
    margin-top: -60px;
}

.bubble:nth-child(17) {
    margin-top: -60px;
}

.bubble:nth-child(18) {
    margin-top: -70px;
}

.timer {
    position: absolute;
    bottom: 5%;
    left: 45%;
    font-size: 16px;
    color: #543232;
    font-weight: bold;
}

@media screen and (max-width: 1670px) {
    .bubbles {
        max-width: 1100px;
    }

    .bubbles-bg {
        width: 100%;
        overflow: hidden;
    }

    .bubble > img {
        width: calc(7vw);
    }

    .game-content {
        display: flex;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }

    .answer {
        font-size: 13px;
    }

    .game-leaders-list {
        width: 380px;
    }

    .list-item-info {
        top: 0;
    }
}

@media screen and (max-width: 1600px) {
    .bubbles {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1440px) {
    .bubbles {
        max-width: 910px;
    }
    .answer {
        font-size: 11px;
    }
}

@media screen and (max-width: 1290px) {
    .pending-content {
        flex-direction: column !important;
    }
    .game-content {
        flex-direction: column !important;
    }
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .pending-title {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .pending-title {
        font-size: 1em;
    }
}

